<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="EndPointUrl" value="https://device-dev.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="48ygS0hWG2DwXxczlr4KLKlAYjyi0oSMDUxIvHRK7UoG2WLE78s22CDOiDvbMAh7sNQ9teiOZQ7sa1FCTl1W4w=="/>

    <add key="DatabaseName" value="testdb"/>
    <add key="CollectionName" value="mass6"/>
    <add key="MetricCollectionName" value="metrics"/>

    <add key="CollectionThroughput" value="250000"/>
    <add key="ShouldCleanupOnStart" value="false"/>
    <add key="ShouldCleanupOnFinish" value="false"/>
    <add key="DegreeOfParallelism" value="500"/>
    <add key="NumberOfDocumentsToInsert" value="1000"/>

    <add key="CollectionPartitionKey" value="/partitionKey"/>
    <add key="DocumentTemplateFile" value="Player.json"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>